  <div class="inbox_chat message">
    <div class="chat_list active_chat">
      <div class="chat_people">
        <div class="chat_img"><%#= image_tag @user.img.url if @user.img? #%></div>
          <div class="chat_ib">
            <div id='messages'>
             
             <%= render @messages %>
             </br>
             All messages: <%= User.pluck(:name) %>
             <hr>
            </div>
        </div>
      </div>                            
    </div>
  </div>