<%= stylesheet_link_tag "comments" %>
<div class="py-4">
<div class="container">
  <div class="row justify-content-center">
     <% @post.comments.each do |comment, post| %>
       <div class="card mt-3 col-9 col-md-9">
          <h5 class="card-header text-center py-4"> 
            <strong><%= comment.title %>:</strong>
          </h5>
          
          <div class="card-body px-lg-5 pt-4 text-center">
             <%= comment.content %>
          </div>

          <div class="card-body px-lg-5 pt-4 text-center">
             <%#= image_tag @user.img.url, size: 150 if @user.img? #%>
          </div>

          <div class="card-body px-lg-5 pt-4 text-center">
             <%#= comment.created_at.strftime('%Y/%m/%d') %>
          </div>

            <% if user_signed_in? %> 
              <div class="row px-lg-5 pt-4">
                <div class="mx-auto">
                  <%#= link_to 'Delete', @post.comments, :method => :delete, data: {confirm: "Are you sure?"}, class:"text-danger" #%>
                </div>
              </div>
            <% end %>
         </div>
      <% end %>
    </div>
  </div>
  </div>
  