<%= stylesheet_link_tag 'pages', :media => "all" %>

<main class="text-white">
 <section id="mainLogo1">
  <div class="py-4">
    <div class="container">
      <div class="py-4">
        <h1 class="text-center display-1 text-warning">What is </br>Suggest ?</h1>
        <h4 class="my-3 desc text-center">このアプリは他の人の提案を通して自分の週末の予定やしてみたかったけど</br>まだした事のない計画を実行する<strong>ひらめきを</strong>与えてくれます</h4>
      </div>
    </div>
  </div>
  </section>
</main>