<h1><%= @room.name %>/h1>

  <% @entries.each do |e| %>
      <%= link_to e.user.name, user_path(e.user_id) %>
  <% end %>

    <form>
      <label>Say something:</label><br>
      <input type="text" id="chat-input" data-behavior="room_speaker">
    </form>

     <div id="messages" data-room_id="<%= room.id %>">
       <%= render @messages %>
     </div>
   

