body {
    background-image: url('https://images.unsplash.com/photo-1516414447565-b14be0adf13e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1332&q=80');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.logo{
    color: orange; 
    border-bottom: 1px solid #fff;
    letter-spacing: 0.3rem;
    padding-bottom: 10px;
}

.box {
    height: 680px;
}

.desc {
    letter-spacing: 2px;
    line-height: 2.5rem;
}


