body{
    background-image: url('././postBg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.newPost{
    background-image: url('././postNew.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}