body{
    background-image: url('https://images.unsplash.com/photo-1555245654-a6ed32522cb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=60');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

 .jumbotron{
    background-image: url('https://images.unsplash.com/photo-1555245654-a6ed32522cb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=60');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.gallery {
    margin: 0;
    padding: 0;
}
.gallery-item {
    list-style: none;
    margin-top: 10px;
}
.gallery-item.is-loading {
    opacity: 0;
}

.mainFont {
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
}
#bg-card {
    background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}