body{
    background-image: url('././bg1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

 .jumbotron{
    background-image: url('././bg1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.gallery {
    margin: 0;
    padding: 0;
}
.gallery-item {
    list-style: none;
    margin-top: 10px;
}
.gallery-item.is-loading {
    opacity: 0;
}

.mainFont {
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
}
#bg-card {
    background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
 .img {
     border-radius: 50%;
     width: 50%;
 }